@media (max-width: 400px) {

    .addressCheck {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .localizationBoxContainer {
            padding: 1.5rem 0 1.5rem 0;
            width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .searchImage {
                padding: 1rem 0 1rem 0;
            }

            .searchInfo {
                text-align: center;
                font-size: 1.7rem;
                font-weight: 600;
            }

            .formInputs {
                box-sizing: border-box;
                width: 14rem;
                border: lightgray 0.125rem solid;
                border-radius: .2rem;
                -webkit-box-shadow: 0 8px 6px -6px lightgray;
                -moz-box-shadow: 0 8px 6px -6px lightgray;
                box-shadow: 0 8px 6px -6px lightgray;
                outline: none;
                text-align: center;
                font-size: 0.9rem;

            }

            .suggestionsPositioner {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;

            }

            .suggestionsList {
                // box-sizing: border-box;
                position: absolute;
                top: 3rem;
                // border: 2px solid lightgrey;
                // border-top: none;
                // border-radius: 0.1rem 0.1rem 0.625rem 0.625rem;
                background: white;
                width: 14rem;
                height: 60px;
                font-size: 0.9rem;
                text-align: center;
                z-index: 1;

                .suggestionListElement {
                    text-align: center;
                    width: 100%;
                    padding: .1rem 0 .1rem 0;
                    // padding: 0.3rem;
                }

                .suggestionListElement:hover {
                    border: white 2px groove;
                }
            }

            .formInputs:last-of-type {
                margin: 1rem 0 1rem 0;
            }

            .checkAddressButton {
                background-color: #d31da5;
                border: none;
                border-radius: 2rem;
                color: white;
                padding: 0.3rem 1rem;
                text-align: center;
                font-size: 1rem;
                margin: 1rem 0.125rem;
                opacity: 0.7;
                transition: 0.3s;
                display: inline-block;
                text-decoration: none;
                cursor: pointer;
                outline: none;
            }

            .checkAddressButton:hover {
                opacity: 1
            }

            .toOfferButton {
                background-color: #d31da5;
                border: none;
                border-radius: 2rem;
                color: white;
                padding: 0.3rem 1rem;
                text-align: center;
                font-size: 1rem;
                margin: 0.1rem 0.125rem;
                opacity: 0.7;
                transition: 0.3s;
                display: inline-block;
                text-decoration: none;
                cursor: pointer;
                outline: none;
            }

            .toOfferButton:hover {
                opacity: 1
            }

            .toContactButton {
                background-color: #d31da5;
                border: none;
                border-radius: 2rem;
                color: white;
                padding: 0.3rem 1rem;
                text-align: center;
                font-size: 1rem;
                margin: 0.1rem 0.125rem;
                opacity: 0.7;
                transition: 0.3s;
                display: inline-block;
                text-decoration: none;
                cursor: pointer;
                outline: none;
            }

            .toContactButton:hover {
                opacity: 1
            }
        }
    }

    .addresscheck__error {
        font-size: .7rem;
        text-align: center;
        color: red;
    }

    .thanks__padding {
        padding: 1rem 0 1rem 0;
    }

    .fa-check-circle {
        color: rgb(0, 214, 166);
        font-size: 4rem;
    }

    .fa-times-circle {
        color: #d929ae;
        font-size: 4rem;
    }
}

@media (max-height: 660px) {
    #searchImageDisplay {
        display: none;
    }
}


@media (min-width: 400px) {


    .addressCheck {
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 100%;
        // height: calc(100vh - 50vh);
        // height: calc(100vh - 17rem);
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;

        .localizationBoxContainer {
            // max-height: calc(100vh - 17rem);
            // height: calc(100vh - 17rem);
            width: 70%;
            // padding: 2rem 0 2rem 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .searchImage {
                padding: 1rem 0 1rem 0;
            }

            .searchInfo {

                text-align: center;
                font-size: 1.7rem;
                font-weight: 600;
            }

            .addressCheck__label {
                margin: 1px;
                // height: calc(100vh - 17rem);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .formInputs {
                // margin: 0;
                // padding: 0;
                box-sizing: border-box;
                width: 20rem;
                border: lightgray 0.125rem solid;
                border-radius: .2rem;
                -webkit-box-shadow: 0 8px 6px -6px lightgray;
                -moz-box-shadow: 0 8px 6px -6px lightgray;
                box-shadow: 0 8px 6px -6px lightgray;
                outline: none;
                font-size: 1rem;
                text-align: center;
            }

            .suggestionsPositioner {

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
            }

            .suggestionsList {
                position: absolute;
                top: 3rem;
                // box-sizing: border-box;
                width: 20rem;

                // border: 2px solid lightgray;
                border-top: none;
                // border-radius: 0.1rem 0.1rem 0.625rem 0.625rem;
                background: white;
                height: 65px;

                z-index: 1;

                .suggestionListElement {
                    height: auto;
                    width: 100%;
                    text-align: center;
                    font-size: 1.2rem;
                }

                .suggestionListElement:hover {
                    border: white 2px groove;

                }
            }


            .formInputs:last-of-type {
                margin: 1rem 0 1rem 0;
            }

            .checkAddressButton {
                background-color: #d31da5;
                border: none;
                border-radius: 2rem;
                color: white;
                padding: 0.3rem 1rem;
                text-align: center;
                font-size: 1rem;
                margin: 1rem 0.125rem;
                opacity: 0.7;
                transition: 0.3s;
                display: inline-block;
                text-decoration: none;
                cursor: pointer;
                outline: none;
            }

            .checkAddressButton:hover {
                opacity: 1;
                outline: none;

            }

            .toOfferButton {
                background-color: #d31da5;
                border: none;
                border-radius: 2rem;
                color: white;
                padding: 0.3rem 1rem;
                text-align: center;
                font-size: 1rem;
                margin: 0.1rem 0.125rem;
                opacity: 0.7;
                transition: 0.3s;
                display: inline-block;
                text-decoration: none;
                cursor: pointer;
                outline: none;
            }

            .toOfferButton:hover {
                opacity: 1
            }

            .toContactButton {
                background-color: #d31da5;
                border: none;
                border-radius: 2rem;
                color: white;
                padding: 0.3rem 1rem;
                text-align: center;
                font-size: 1rem;
                margin: 0.1rem 0.125rem;
                opacity: 0.7;
                transition: 0.3s;
                display: inline-block;
                text-decoration: none;
                cursor: pointer;
                outline: none;
            }

            .toContactButton:hover {
                opacity: 1
            }





        }
    }

    .addresscheck__error {
        font-size: .7rem;
        text-align: center;
        color: red;
    }

    .thanks__padding {
        padding: 1rem 0 1rem 0;
    }

    .fa-check-circle {
        color: rgb(0, 214, 166);
        font-size: 4rem;
    }

    .fa-times-circle {
        color: #d929ae;
        font-size: 4rem;
    }
}